{% extends "layout.html" %}
{% block content %}

<div style="text-align: center;">
        <h3>About SpeakerPool</h3>
        <p>More information will be posted here soon!</p>
        <p>If you are interested in using SpeakerPool to collect speech data online, feel free to email me at <a style="line-height: 1;" href="mailto:tschnoor@ualberta.ca">tschnoor@ualberta.ca</a></p>
        <p>I will be posting a GitHub repository with full documentation soon. Follow me on GitHub <a style="line-height: 1;" href="https://github.com/tschnoor">here</a> and follow the Alberta Phonetics Laboratory <a style="line-height: 1;" href="https://github.com/AlbertaPhoneticsLab">here</a>.</p>
        <p>You can also follow me on Twitter <a style="line-height: 1;" href="https://twitter.com/TylerSchnoor">here</a>.</p>
</div>

{% endblock content %}
